@charset "UTF-8";

body {
    background-color: black;
}

header {
    height: 8vw;
}

h1 {
    color: white;
}

.panel {
    display: flex;
    justify-content: space-around;
}

.button {
    width: 10vw;
    height: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.aLine_button {
    background-color: crimson;
}

.bLine_button {
    background-color: cadetblue;
}

.cLine_button {
    background-color: darkgoldenrod;
}

.dLine_button {
    background-color: lightgreen;
}

h1 {
    font-size: 6vw;
}